<% icon_class = nil if local_assigns[:icon_class].nil? %>
<% text = nil if local_assigns[:text].nil? %>
<div class="flex-display flex-row flex-gap--xs ai-center">
  <% unless icon_class.nil? or icon_class.blank? %>
    <i class="<%= icon_class %>"></i>
  <% end %>
  <% unless text.nil? %>
    <span><%= text %></span>
  <% end %>
</div>
