<% icon = "" if local_assigns[:icon].nil? %>
<% text = "" if local_assigns[:text].nil? %>
<div class="flex-display flex-row flex-gap--xs ai-center">
  <i class="<%= icon %>"></i>
  <span><%= text %></span>
</div>
