<% if notice %>
  <div class="box box--success">
    <div class="box__title">Success</div>
    <% unless notice.blank? %>
      <div>
        <%= notice %>
      </div>
    <% end %>
  </div>
<% end %>
