<div class="resource-title">
  <h1><%= @resource.title %></h1>
  <div class="resource-title__button">
    <%= render partial: "components/favorite-toggle-button", locals: { resource: @resource, type: :large } %>
  </div>
</div>
<%= render :partial => "components/favorite-additions", :locals => { resource: @resource } %>
