<h1>Favorites Report</h1>
<%= render partial: "components/report-resources", locals: { resources: @favorite_courses, name: "Courses", show_notes: (show_notes), show_keywords: (show_keywords) } %>
<%= render partial: "components/report-resources", locals: { resources: @favorite_people, name: "People", show_notes: (show_notes), show_keywords: (show_keywords) } %>
<%= render partial: "components/report-resources", locals: { resources: @favorite_theses, name: "Theses", show_notes: (show_notes), show_keywords: (show_keywords) } %>
<%= render partial: "components/report-resources", locals: { resources: @favorite_projects, name: "Projects", show_notes: (show_notes), show_keywords: (show_keywords) } %>
