// https://www.hotrails.dev/turbo-rails/css-ruby-on-rails

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  line-height: var(--line-height-headers);
}

h1 {
  @extend .fs--xxxl !optional;
  @extend .p-t--l !optional;
  @extend .p-b--s !optional;
}

h2 {
  @extend .fs--xxl !optional;
  @extend .p-t--l !optional;
  @extend .p-b--s !optional;
}

h3 {
  @extend .fs--xl !optional;
  @extend .p-t--m !optional;
  @extend .p-b--xs !optional;
}

h4 {
  @extend .fs--l !optional;
  @extend .p-t--s !optional;
  @extend .p-b--xxs !optional;
}

a {
  color: inherit;
  text-decoration: none;
}

.turbolinks-progress-bar, .turbo-progress-bar {
  background-color: var(--color-tertiary);
  box-shadow: 0 0 20px 5px var(--color-tertiary);
}

.field_with_errors {
  display: block;
  width: 100%;
}
