// https://www.hotrails.dev/turbo-rails/css-ruby-on-rails

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  line-height: var(--line-height-headers);
}

h1 {
  font-size: var(--font-size-xxxl);
  padding-top: var(--space-l);
  padding-bottom: var(--space-s);
}

h2 {
  font-size: var(--font-size-xxl);
  padding-top: var(--space-l);
  padding-bottom: var(--space-s);
}

h3 {
  font-size: var(--font-size-xl);
  padding-top: var(--space-m);
  padding-bottom: var(--space-xs);
}

h4 {
  font-size: var(--font-size-l);
  padding-top: var(--space-s);
  padding-bottom: var(--space-xxs);
}

a {
  color: inherit;
  text-decoration: none;
}

.turbolinks-progress-bar, .turbo-progress-bar {
  background-color: var(--color-tertiary);
  box-shadow: 0 0 20px 5px var(--color-tertiary);
}
