.border {
  border: var(--border);

  &--rounded {
    border-radius: var(--border-radius);
  }
}

.flex {
  &-display {
    display: flex;
  }

  &-column {
    flex-direction: column;
  }
}

.muted {
  color: var(--color-text-muted);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
