<% if @error %>
  <div class="box box--error">
    <div class="box__title fs--xxl">Error</div>
    <%= @error %>
  </div>
<% else %>
  <h1>Results for <span class="term"><%= @term %></span>:</h1>
  <div class="list">
    <% @resources["results"].each do |result| %>
      <a class="list__item btn btn--block" href="<%= person_path(result["tiss_id"]) %>">
          <%= full_name(result) %>
      </a>
    <% end %>
  </div>
<% end %>
