<h1>People</h1>
<%= render partial: "components/search", locals: { resource_path: (people_path), resource_name: "people" } %>
<% unless @resources.nil? %>
  <%= render partial: "components/resources", locals: { resources: @resources, title: nil, search_result: true, highlighted: false} %>
<% end %>
