@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(0, 5%) scale(98%);
  }
  to {
    opacity: 1;
    transition: none;
  }
}

@mixin animate($name, $duration) {
  animation: $name $duration ease;
}
