<% if @error %>
  <div class="box box--error">
    <div class="box__title fs--xxl">Error</div>
    <%= @error %>
  </div>
<% else %>
  <h1>Results for <span class="term"><%= @term %></span>:</h1>
  <div class="list">
    <% @resources["results"].each do |result| %>
      <a class="btn btn--block" href="<%= thesis_path(result["id"]) %>">
        <div class="list__item">
          <%= result["title"] || result["id"] %>
        </div>
      </a>
    <% end %>
  </div>
<% end %>
