<h1>Results for '<%= @term %>':</h1>

<ul>
  <% @resources["results"].each do |result| %>
    <li>
      <a href="<%= thesis_path(result) %>">
        <%= result["short"] %>
      </a>
    </li>
  <% end %>
</ul>
