@import "mixins/media";

.container {
  width: 100%;
  @extend .p-l--xs !optional;
  @extend .p-r--xs !optional;
  @extend .m-l--a !optional;
  @extend .m-r--a !optional;

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
  }
}
