@import "mixins/media";

nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  @extend .flex-gap--s !optional;
  padding: var(--space-m);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  color: var(--color-primary-bg);
  background: var(--background-primary);
  @extend .box-shadow--huge !optional;

  @include media(tabletAndUp) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav__start {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: var(--space-m);
  align-items: center;
}

.nav__end {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: var(--space-xxs);
  align-items: center;
}

.nav-btn {
  @extend .p--s !optional;
  @extend .btn !optional;
}
