@import "mixins/box-shadow";

nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: var(--space-s);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: var(--color-primary-bg);
  @extend .shadow-box--huge;

  .nav__start {
    justify-content: flex-start;
    gap: var(--space-s);
    align-items: center;
  }

  .nav__end {
    justify-content: flex-end;
    gap: var(--space-s);
    align-items: center;
  }
}
