nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: var(--space-s);
  background-color: var(--color-primary);
  color: var(--color-primary-bg);
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: var(--shadow-huge);

  .nav__start {
    justify-content: flex-start;
    gap: var(--space-s);
    align-items: center;
  }

  .nav__end {
    justify-content: flex-end;
    gap: var(--space-s);
    align-items: center;
  }
}
