<h1>Projects</h1>
<%= render partial: "components/search", locals: { resource_path: (projects_path), resource_name: "projects" } %>
<% unless @resources.nil? %>
  <%= render partial: "components/resources", locals: { resources: @resources, title: nil, search_result: true} %>
<% end %>
