<h1>Projects</h1>
<%= render partial: "components/search", locals: { resource_path: (projects_path), resource_name: "projects" } %>
<%= render partial: "components/error", locals: {error: @error} %>
<%= render partial: "layouts/resources", locals: { resources: map_projects(@resources, @favorites), title: nil, search_result: false} %>
