<h1>Courses</h1>
<%= render partial: "components/search", locals: { resource_path: (courses_path), resource_name: "courses" } %>
<% unless @resources.nil? %>
  <%= render partial: "layouts/resources", locals: { resources: @resources, title: nil, search_result: true} %>
<% end %>
