@import "mixins/media";

.back-button {
  position: absolute;
  visibility: visible;
  top: var(--space-m);
  left: var(--space-m);
  width: var(--space-xl);
  height: var(--space-xl);
  @extend .btn !optional;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include media(tabletAndUp) {
    display: none;
    visibility: hidden;
    position: unset;
  }
}
