.btn {
  display: inline-block;
  @extend .p--xxs !optional;
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: none;
  border: none;
  transition: background 200ms;
  user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    filter: brightness(var(--hover-brightness));
    backdrop-filter: brightness(var(--hover-brightness));
  }

  &--lighter {
    color: var(--color-text-body);
    background-color: var(--color-lighter);
  }

  &--light {
    color: var(--color-text-body);
    background-color: var(--color-light);
  }

  &--dark {
    background-color: var(--color-dark);
    color: var(--color-text-light);
  }

  &--primary {
    color: var(--color-text-light);
    background: var(--background-primary);
  }

  &--secondary {
    color: var(--color-text-body);
    background: var(--background-secondary);
  }

  &--tertiary {
    color: var(--color-text-body);
    background: var(--background-tertiary);
  }

  &--error {
    color: var(--color-text-light);
    background: var(--background-error);
  }

  &--success {
    color: var(--color-text-light);
    background: var(--background-success);
  }

  &--block {
    display: block;
  }

  &--3d {
    position: relative;
    @extend .m-b--s !optional;
    @extend .p-t--xxs !optional;
    @extend .p-b--xxs !optional;
    @extend .p-l--xs !optional;
    @extend .p-r--xs !optional;
    color: var(--color-white);
    border: var(--border-shape) var(--color-dark) !important;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 0 0 var(--color-dark),
    2px 2px 0 0 var(--color-dark),
    3px 3px 0 0 var(--color-dark),
    4px 4px 0 0 var(--color-dark),
    2px 5px 6px 1px hsla(0, 0, 5%, 0.3);
    @extend .fs--l !optional;
  }

  &--3d:hover {
    backdrop-filter: brightness(var(--hover-brightness));
    box-shadow: 1px 1px 0 0 var(--color-dark),
    2px 2px 0 0 var(--color-dark),
    3px 3px 0 0 var(--color-dark),
    4px 4px 0 0 var(--color-dark),
    2px 5px 6px 1px hsla(0, 0, 5%, 0.3);
  }

  &--3d:active {
    box-shadow: inset 1px 1px 1px 0 hsla(0, 0, 5%, 0.2);
    top: var(--space-xxxs);
    left: var(--space-xxxs);
  }

  &--icon {
    background: none;
    box-shadow: none;
    text-shadow: none;
    color: var(--color-text-body);
    border-radius: 50%;
    width: var(--space-xl);
    height: var(--space-xl);
  }
}
