form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @extend .flex-gap--xs !optional;

  input[type=submit] {
    margin-top: var(--space-s);
    @extend .btn !optional;
    @extend .btn--primary !optional;
    @extend .btn--3d !optional;
  }

  input {
    @extend .p--xxs !optional;
    background-color: var(--color-white);
  }
}

.form {
  &-element {
    @extend .flex-display !optional;
    @extend .flex-column !optional;
    flex-wrap: nowrap;
    @extend .flex-gap--xxs !optional;
  }

  &-element label {
    width: 100%;
    @extend .fs--m !optional;
    @extend .muted !optional;
  }

  &-element .field_with_errors label {
    color: var(--color-error);
  }

  &-element input {
    width: 100%;
    border: none;
    outline: none;
    @extend .border--rounded !optional;
  }

  &-element .field_with_errors input {
    outline: var(--border-shape) var(--color-error);
  }

  &-element input:active, &-element input:focus {
    outline: var(--border-shape);
    outline-color: var(--color-primary);
    box-shadow: inset 0 0 5px hsla(0, 0, 0, 0.1);
  }

  &-error-messages {
    display: flex;
    flex-direction: column;
  }

  &-error-message {
    @extend .fs--xs !optional;
    color: var(--color-error);
  }
}
