form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @extend .flex-gap--xs !optional;

  input {
    background-color: var(--color-white);
    @extend .p--xs !optional;
    @extend .p-t--xxs !optional;
    @extend .box-shadow--tiny !optional;
  }

  input[type=text] {
    @extend .p-l--s !optional;
  }

  input[type=submit] {
    @extend .btn !optional;
    @extend .btn--primary !optional;
  }
}

.form {
  &-element {
    @extend .flex-display !optional;
    @extend .flex-column !optional;
    flex-wrap: nowrap;
    @extend .flex-gap--xxs !optional;
  }

  &-element label {
    width: 100%;
    @extend .fs--m !optional;
    @extend .muted !optional;
  }

  &-element .field_with_errors label {
    color: var(--color-error);
  }

  &-element input {
    width: 100%;
    border: none;
    outline: none;
    @extend .border--rounded !optional;
  }

  &-element .field_with_errors input {
    outline: var(--border-shape) var(--color-error);
  }

  &-element input:active, &-element input:focus {
    outline: var(--border-shape);
    outline-color: var(--color-primary);
    box-shadow: inset 0 0 5px hsla(0, 0, 0, 0.1);
  }

  &-error-messages {
    display: flex;
    flex-direction: column;
  }

  &-error-message {
    @extend .fs--xs !optional;
    color: var(--color-error);
  }

  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &-input-group__small {
    @extend .p-l--m !optional;
    @extend .p-r--m !optional;
    flex-basis: content;
  }

  &-input-group :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-input-group :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
