.list {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

  &__item {
    display: block;
    padding: var(--space-s) var(--space-xs);
    border-bottom: var(--border);
  }
}
