.pill {
  display: flex;
  flex-direction: row;
  gap: var(--space-xxs);
  flex-wrap: nowrap;
  align-items: center;
  border-width: 0;
  border-radius: calc(var(--space-xl) / 2.0);
  height: var(--space-xl);
  @extend .p-l--xs !optional;
  @extend .p-r--xs !optional;

  &--primary {
    background: var(--background-primary);
  }

  &--secondary {
    background: var(--background-secondary);
  }

  &--tertiary {
    background: var(--background-tertiary);
  }

  &:hover .pill__cancel {
    display: block;
  }

  &:hover {
    @extend .p-r--xxxs !optional;
  }

  &__cancel {
    display: none;
  }
}
