.pill {
  display: flex;
  flex-direction: row;
  gap: var(--space-xxs);
  flex-wrap: nowrap;
  align-items: center;
  border-style: solid;
  border-width: var(--border-width);
  border-radius: calc(var(--space-xl) / 2.0);
  height: var(--space-xl);
  @extend .p-l--xs !optional;
  @extend .p-r--xs !optional;

  &--primary {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  &--secondary {
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
  }

  &:hover .pill__cancel {
    display: block;
  }

  &:hover {
    @extend .p-r--xxxs !optional;
  }

  &__cancel {
    display: none;
  }
}
