@import "mixins/media";

.resource-title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  @extend .p-b--m !optional;
  @include media(tabletAndUp) {
    flex-direction: row;
    gap: var(--space-s);
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    align-self: end;

    @include media(tabletAndUp) {
      align-self: unset;
    }
  }
}
