@import "mixins/media";

.resource-title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  @extend .p-b--s !optional;
  @include media(tabletAndUp) {
    flex-direction: row;
    gap: var(--space-s);
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
}
