<div class="flex-display flex-row flex-wrap-none jc-space-between">
  <h1><%= resource.title %></h1>
  <div class="as-center">
    <%= render partial: "components/favorite-toggle-button", locals: { resource: resource } %>
  </div>
</div>
